<% const filterConfig = {
    dateInputs: typeof dateInputs !== 'undefined' ? dateInputs : [
        {
            id: 'startDateInput',
            name: 'startDate',
            type: 'date',
            label: 'Fecha de inicio:',
            col: '6'
        },
        {
            id: 'endDateInput',
            name: 'endDate',
            type: 'date',
            label: 'Fecha de fin:',
            col: '6'
        }
    ],
    selectInputs: typeof selectInputs !== 'undefined' ? selectInputs : []
} %>

<% if (filterConfig.selectInputs.length) { %>
    <div class="row table-filters">
        <% filterConfig.selectInputs.forEach(filter => { %>
            <%- include('./tableSelectFilter', {
                id: filter.id,
                label: filter.label,
                col: filter.col
            }) %>
        <% }) %>
    </div>
<% } %>

<div class="row mb-3 table-filters">
    <%- include('./outlineInputList', { inputs: filterConfig.dateInputs }) %>
</div>

<%- include('./button', {
    button : {
        id: 'clearFiltersButton',
        class: 'btn table-filter-button mb-3',
        content: 'Limpiar filtros'
    }
}) %>
