<% const header = {
    button: {
        id: 'menuCloseBtn',
        dismissTarget: 'offcanvas'
    },
    class: 'offcanvas-header',
    title: {
        id: 'menuTitle',
        content: 'Menú de navegación',
        class: 'offcanvas-title'
    }
}; %>

<div id="mobileMenu" tabindex="-1" class="offcanvas offcanvas-start w-md-50" 
    aria-labelledby="<%= header.title.id %>"
>
    <%- include('../../shared/header', { header }) %>

    <div class="offcanvas-body d-flex flex-column bg-dark">
        <div class="flex-grow-1 mb-5">
            <div class="mb-5">
                <%- include('../ui/navList', { 
                    listClass: 'navbar-nav' 
                }) %>
            </div>
        </div>

        <div>
            <%- include('../ui/logoutForm', {
                buttonClass: 'btn btn-link btn-secondary'
            }) %>
        </div>
    </div>
</div>